{% extends 'flatpages/default.html' %}

{% block content %}
<h1>Удаление объявления</h1>
<hr>
<form action="" method="post">
    {% csrf_token %}
    <p>Удаляем "{{ object.id }}  {{ object.header }}   {{ object.article_text }}"?</p>
    {% if canedit %}
         <input type="submit" value="Delete" />
    {% else %}
        <p>Выходим без удаления по причине: {{error}}</p>
        <button> <a href="{% url 'post_detail' post.id %}">Выйти без удаления</a> </button>
    {% endif %}
</form>
{% endblock content %}